**/*.ts
src/
tsconfig.json
.vscode/
node_modules/sql.js/.devcontainer/
node_modules/sql.js/.eslintrc.js
node_modules/sql.js/.jsdoc.config.json
node_modules/sql.js/.nojekyll
node_modules/sql.js/eslint.config.cjs
node_modules/sql.js/CONTRIBUTING.md
node_modules/sql.js/documentation_index.md
node_modules/sql.js/README.md
node_modules/sql.js/logo.svg
node_modules/sql.js/dist/worker*
node_modules/sql.js/dist/sql-asm*
node_modules/sql.js/dist/sql-wasm-browser*
node_modules/sql.js/dist/sql-wasm-debug*
**/*.js.map
